@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 272 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 272 50% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 180 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 180 100% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 0 0% 9%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 272 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 180 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes moving-grid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px -40px;
  }
}

.app-background {
  @apply bg-background;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, hsl(var(--border) / 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(var(--border) / 0.2) 1px, transparent 1px);
  animation: moving-grid 2s linear infinite;
}
