
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  isolation: isolate;
}

.background-effects-container::before {
  content: "";
  position: fixed;
  left: var(--x, 50%);
  top: var(--y, 50%);
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, hsla(var(--primary), 0.5) 0, hsla(var(--accent), 0.4) 40%, transparent 80%);
  filter: blur(200px);
  opacity: 0.8;
  pointer-events: none;
  z-index: -10;
}

@layer base {
  :root {
    --background: 272 100% 9%;
    --foreground: 0 0% 98%;
    --card: 272 100% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 272 100% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 310 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 50% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 272 100% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 220 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 272 100% 20%;
    --input: 272 100% 20%;
    --ring: 310 100% 50%;
    --chart-1: 310 70% 50%;
    --chart-2: 220 60% 45%;
    --chart-3: 160 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 272 100% 11%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 310 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 272 100% 20%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 272 100% 20%;
    --sidebar-ring: 310 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .text-gradient {
      @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
    }
}
